:root {
    --perso-clear-green: #00ce00;
    --perso-dark-green: #006900;
    --perso-bg-green: #00bd00b7;
    --perso-purple: #8a2be2;
    --perso-bg-purp: #a500ff;
    --perso-purp-light: #a500ff4d;
    --perso-grey: #808080;
    --perso-grey-clear: #8080801f;
    --font-sidebar-color: #637381;
}

/* RESET */

a {
    text-decoration: none !important;
    color: inherit !important;
    pointer-events: auto;
    cursor: pointer;
}


/* =================== */

.text_green {
    color: var(--perso-clear-green) !important;
}

.background_green {
    background-color: var(--perso-bg-green) !important;
}

.btn_green {
    background-color: var(--perso-bg-green) !important;
    border-color: var(--perso-dark-green) !important;
}

.text_big_hover:hover {
    /* -webkit-transform: scale(1.2)!important; */
    transform: scale(1.2);
}

.show_hover {
    display: none;
}


.btn_active {
    /* purples */
    /* background-color: var(--perso-bg-purp)!important; */
    background: linear-gradient(60deg, #f206ee, #0765f3) !important;
    color: white !important;
}

.link_perso {
    color: var(--font-sidebar-color);
}

.btn_perso_hover:hover {
    background-color: var(--perso-grey-clear) !important;
    color: black !important;
}

#dropdownMenuProfilContent {
    width: max-content;
}

/* CSS NAV */

.card_profile .logout {
    font-size: .8rem !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    position: relative;
    bottom: 3px;
}

.card_profile .logout:hover {
    background-color: #6373811f;
    border: none;
    border-radius: 5px;
}

.role_liste {
    background-color: #6373811f;
}

.small-font {
    font-size: 0.8rem;
}

.main-margin {
    margin-top: 65px;
    padding-top: 20px;
}

.icon_creer_admin {
    color: #637381;
}

.icon_creer_admin:hover {
    color: #000;
}

.icon_plus {
    color: #637381;
}