body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .event-tooltip-content {
    padding: 5px;
  }

  .event-tooltip-content:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

.my_card{
    background-color: rgba(255, 253, 253, 0.986)!important;
    margin-top: 250px!important;
    height: 150px!important;
    width: 500px!important;
    border-radius: 20px!important;
    margin-left: 250px;
}

.mycard-body label{
    padding-inline: 50px;
    color:rgb(85, 85, 85);
}

